@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: po;
}

body{
    background-color: rgb(0, 0, 0);
}

.main {
  background-image: url("./background_slide1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 95vh;
  position: relative;
}

.main .box {
  height: 95vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  height: 62px;
}
nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 15px;
  padding: 0 30px;
  text-align: center;
}

.hero> :nth-child(1){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.hero> :nth-child(2){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 450;
    font-size: 24px;
}

.hero> :nth-child(3){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.separation{
    height:7px;
    background-color: rgb(77, 74, 74);
    width: 100vw;
}



.main input {
    padding: 5px 97px 4px 2px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 450;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(23, 23, 23, 0.4);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(141, 130, 130, 0.082);
    font-family: monospace;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.btn-red-sm{
    background-color:red;
    color: white;
}


.btn-red{
    background-color:red ;
    color: white;
    padding: 3px 24px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 700;
}


.input-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: white;

}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin:auto;
    color: white;
    align-items: center;
    height:85vh;


}

/* @media screen and (max-width: 920px){
    .first{
        flex-wrap:wrap;
    }
} */

.secimg{
    position:relative;
}

.secimg img{
    width: 460px;
    margin-top: 8px;
    z-index: 10;
    position: relative;
}

.secimg video{
    position: absolute;
    top: 79.5px;
    right: 63px;
    width: 337px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
   
}

.first1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;

}

.first2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.first.second{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin:auto;
    color: white;
    align-items: center;
    height:85vh
}

.secimg{
    position:relative;
}

.secimg img{
    width: 460px;
    margin-top: 8px;
    z-index: 10;
    position: relative;
}

.secimg video{
    position: absolute;
    top: 79.5px;
    right: 63px;
    width: 337px;
}

section.first > div{
    display: flex;
    flex-direction: column;

}

.first1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 48px;

}

.first2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.faq h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}


.faq{
    background: black;
    color: white;
    padding: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.faqbox{
    display: flex;
    background-color: rgb(45, 43, 43);
    padding: 20px;
    margin: 16px auto;
    max-width: 60vw;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    transition: all  ease-in-out;
}

.faqbox:hover{
    color: black;
    background-color: rgba(232, 252, 13, 0.915);  
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
footer div{
    padding: 14px 0;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    color: white;

}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

